.buscar .photo-by-min-an-12 {
  border-radius: 7px;
  background: url('../assets/images/photo_by_min_an.png') 50% / cover no-repeat;
  margin-right: 11px;
  width: 34px;
  height: 34px;
}
.buscar .como-se-inicializa-una-variable-en-python {
  margin-bottom: 1.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.buscar .python-6 {
  position: absolute;
  right: 9.9px;
  bottom: -0.5px;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: #FFFFFF;
}
.buscar .frame-354 {
  border-radius: 6px;
  background: #631CD0;
  position: relative;
  width: 56px;
  height: 15px;
}
.buscar .frame-365 {
  margin: 0 2px;
  display: flex;
  align-self: flex-start;
  width: 66px;
  height: 17px;
  box-sizing: border-box;
}
.buscar .container-3 {
  margin: 0.6px 0 1px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.buscar .frame-33 {
  margin: 0 30px 10px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.buscar .photo-by-min-an-4 {
  border-radius: 7px;
  background: url('../assets/images/photo_by_min_an.png') 50% / cover no-repeat;
  margin-right: 11px;
  width: 34px;
  height: 34px;
}
.buscar .cuando-inicializo-la-variablevariable-se-crashea-4 {
  margin-bottom: 1.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.buscar .python-7 {
  position: absolute;
  right: 9.9px;
  bottom: -0.5px;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: #FFFFFF;
}
.buscar .frame-355 {
  border-radius: 6px;
  background: #631CD0;
  position: relative;
  width: 56px;
  height: 15px;
}
.buscar .frame-366 {
  margin: 0 2px;
  display: flex;
  align-self: flex-start;
  width: 268px;
  height: 17px;
  box-sizing: border-box;
}
.buscar .container-6 {
  margin: 0.6px 0 1px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.buscar .frame-341 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.buscar .photo-by-min-an-5 {
  border-radius: 7px;
  background: url('../assets/images/photo_by_min_an.png') 50% / cover no-repeat;
  margin-right: 11px;
  width: 34px;
  height: 34px;
}
.buscar .cuando-inicializo-la-variablevariable-se-crashea-5 {
  margin-bottom: 1.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.buscar .python-8 {
  position: absolute;
  right: 9.9px;
  bottom: -0.5px;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: #FFFFFF;
}
.buscar .frame-357 {
  border-radius: 6px;
  background: #631CD0;
  position: relative;
  width: 56px;
  height: 15px;
}
.buscar .frame-367 {
  margin: 0 2px;
  display: flex;
  align-self: flex-start;
  width: 268px;
  height: 17px;
  box-sizing: border-box;
}
.buscar .container-13 {
  margin: 0.6px 0 1px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.buscar .frame-356 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.buscar .photo-by-min-an-6 {
  border-radius: 7px;
  background: url('../assets/images/photo_by_min_an.png') 50% / cover no-repeat;
  margin-right: 11px;
  width: 34px;
  height: 34px;
}
.buscar .cuando-inicializo-la-variablevariable-se-crashea-6 {
  margin-bottom: 1.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.buscar .python-9 {
  position: absolute;
  right: 9.9px;
  bottom: -0.5px;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: #FFFFFF;
}
.buscar .frame-358 {
  border-radius: 6px;
  background: #631CD0;
  position: relative;
  width: 56px;
  height: 15px;
}
.buscar .frame-369 {
  margin: 0 2px;
  display: flex;
  align-self: flex-start;
  width: 268px;
  height: 17px;
  box-sizing: border-box;
}
.buscar .container-4 {
  margin: 0.6px 0 1px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.buscar .frame-368 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.buscar .photo-by-min-an-7 {
  border-radius: 7px;
  background: url('../assets/images/photo_by_min_an.png') 50% / cover no-repeat;
  margin-right: 11px;
  width: 34px;
  height: 34px;
}
.buscar .cuando-inicializo-la-variablevariable-se-crashea-7 {
  margin-bottom: 1.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.buscar .python-10 {
  position: absolute;
  right: 9.9px;
  bottom: -0.5px;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: #FFFFFF;
}
.buscar .python-4 {
  position: absolute;
  right: 9.9px;
  bottom: -0.5px;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: #FFFFFF;
}
.buscar .frame-359 {
  border-radius: 6px;
  background: #631CD0;
  position: relative;
  width: 56px;
  height: 15px;
}
.buscar .frame-3610 {
  margin: 0 2px;
  display: flex;
  align-self: flex-start;
  width: 268px;
  height: 17px;
  box-sizing: border-box;
}
.buscar .container-17 {
  margin: 0.6px 0 1px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.buscar .frame-37 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.buscar .photo-by-min-an-8 {
  border-radius: 7px;
  background: url('../assets/images/photo_by_min_an.png') 50% / cover no-repeat;
  margin-right: 11px;
  width: 34px;
  height: 34px;
}
.buscar .cuando-inicializo-la-variablevariable-se-crashea-8 {
  margin-bottom: 1.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.buscar .python-11 {
  position: absolute;
  right: 9.9px;
  bottom: -0.5px;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: #FFFFFF;
}
.buscar .frame-3510 {
  border-radius: 6px;
  background: #631CD0;
  position: relative;
  width: 56px;
  height: 15px;
}
.buscar .frame-3611 {
  margin: 0 2px;
  display: flex;
  align-self: flex-start;
  width: 268px;
  height: 17px;
  box-sizing: border-box;
}
.buscar .container-7 {
  margin: 0.6px 0 1px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.buscar .frame-38 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.buscar .photo-by-min-an-9 {
  border-radius: 7px;
  background: url('../assets/images/photo_by_min_an.png') 50% / cover no-repeat;
  margin-right: 11px;
  width: 34px;
  height: 34px;
}
.buscar .cuando-inicializo-la-variablevariable-se-crashea-9 {
  margin-bottom: 1.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.buscar .python-12 {
  position: absolute;
  right: 9.9px;
  bottom: -0.5px;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: #FFFFFF;
}
.buscar .frame-3511 {
  border-radius: 6px;
  background: #631CD0;
  position: relative;
  width: 56px;
  height: 15px;
}
.buscar .frame-3612 {
  margin: 0 2px;
  display: flex;
  align-self: flex-start;
  width: 268px;
  height: 17px;
  box-sizing: border-box;
}
.buscar .container-2 {
  margin: 0.6px 0 1px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.buscar .frame-39 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.buscar .photo-by-min-an-10 {
  border-radius: 7px;
  background: url('../assets/images/photo_by_min_an.png') 50% / cover no-repeat;
  margin-right: 11px;
  width: 34px;
  height: 34px;
}
.buscar .cuando-inicializo-la-variablevariable-se-crashea-10 {
  margin-bottom: 1.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.buscar .python-13 {
  position: absolute;
  right: 9.9px;
  bottom: -0.5px;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: #FFFFFF;
}
.buscar .frame-3512 {
  border-radius: 6px;
  background: #631CD0;
  position: relative;
  width: 56px;
  height: 15px;
}
.buscar .frame-3613 {
  margin: 0 2px;
  display: flex;
  align-self: flex-start;
  width: 268px;
  height: 17px;
  box-sizing: border-box;
}
.buscar .container-14 {
  margin: 0.6px 0 1px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.buscar .frame-40 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.buscar .photo-by-min-an-11 {
  border-radius: 7px;
  background: url('../assets/images/photo_by_min_an.png') 50% / cover no-repeat;
  margin-right: 11px;
  width: 34px;
  height: 34px;
}
.buscar .cuando-inicializo-la-variablevariable-se-crashea-11 {
  margin-bottom: 1.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.buscar .python-14 {
  position: absolute;
  right: 9.9px;
  bottom: -0.5px;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: #FFFFFF;
}
.buscar .frame-3513 {
  border-radius: 6px;
  background: #631CD0;
  position: relative;
  width: 56px;
  height: 15px;
}
.buscar .frame-3614 {
  margin: 0 2px;
  display: flex;
  align-self: flex-start;
  width: 268px;
  height: 17px;
  box-sizing: border-box;
}
.buscar .container-16 {
  margin: 0.6px 0 1px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.buscar .frame-41 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.buscar .photo-by-min-an {
  border-radius: 7px;
  background: url('../assets/images/photo_by_min_an.png') 50% / cover no-repeat;
  margin-right: 11px;
  width: 34px;
  height: 34px;
}
.buscar .cuando-inicializo-la-variablevariable-se-crashea {
  margin-bottom: 1.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.buscar .python {
  position: absolute;
  right: 9.9px;
  bottom: -0.5px;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: #FFFFFF;
}
.buscar .frame-35 {
  border-radius: 6px;
  background: #631CD0;
  position: relative;
  width: 56px;
  height: 15px;
}
.buscar .frame-36 {
  margin: 0 2px;
  display: flex;
  align-self: flex-start;
  width: 268px;
  height: 17px;
  box-sizing: border-box;
}
.buscar .container-5 {
  margin: 0.6px 0 1px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.buscar .frame-42 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.buscar .photo-by-min-an-1 {
  border-radius: 7px;
  background: url('../assets/images/photo_by_min_an.png') 50% / cover no-repeat;
  margin-right: 11px;
  width: 34px;
  height: 34px;
}
.buscar .cuando-inicializo-la-variablevariable-se-crashea-1 {
  margin-bottom: 1.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.buscar .python-1 {
  position: absolute;
  right: 9.9px;
  bottom: -0.5px;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: #FFFFFF;
}
.buscar .frame-351 {
  border-radius: 6px;
  background: #631CD0;
  position: relative;
  width: 56px;
  height: 15px;
}
.buscar .frame-361 {
  margin: 0 2px;
  display: flex;
  align-self: flex-start;
  width: 268px;
  height: 17px;
  box-sizing: border-box;
}
.buscar .container-8 {
  margin: 0.6px 0 1px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.buscar .frame-43 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.buscar .photo-by-min-an-2 {
  border-radius: 7px;
  background: url('../assets/images/photo_by_min_an.png') 50% / cover no-repeat;
  margin-right: 11px;
  width: 34px;
  height: 34px;
}
.buscar .cuando-inicializo-la-variablevariable-se-crashea-2 {
  margin-bottom: 1.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.buscar .python-2 {
  position: absolute;
  right: 9.9px;
  bottom: -0.5px;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: #FFFFFF;
}
.buscar .frame-352 {
  border-radius: 6px;
  background: #631CD0;
  position: relative;
  width: 56px;
  height: 15px;
}
.buscar .frame-362 {
  margin: 0 2px;
  display: flex;
  align-self: flex-start;
  width: 268px;
  height: 17px;
  box-sizing: border-box;
}
.buscar .container-15 {
  margin: 0.6px 0 1px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.buscar .frame-44 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.buscar .container-9 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.buscar .photo-by-min-an-3 {
  border-radius: 7px;
  background: url('../assets/images/photo_by_min_an.png') 50% / cover no-repeat;
  margin-right: 11px;
  width: 34px;
  height: 34px;
}
.buscar .cuando-inicializo-la-variablevariable-se-crashea-3 {
  margin-bottom: 1.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.buscar .python-3 {
  position: absolute;
  right: 9.9px;
  bottom: -0.5px;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: #FFFFFF;
}
.buscar .frame-353 {
  border-radius: 6px;
  background: #631CD0;
  position: relative;
  width: 56px;
  height: 15px;
}
.buscar .frame-363 {
  margin: 0 2px;
  display: flex;
  align-self: flex-start;
  width: 268px;
  height: 17px;
  box-sizing: border-box;
}
.buscar .container-10 {
  margin: 0.6px 0 1px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.buscar .frame-45 {
  position: absolute;
  left: 50%;
  bottom: -44px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.buscar .frame-34 {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.buscar .tags {
  margin: 0 6.2px 0px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.buscar .python-5 {
  position: absolute;
  right: 9.9px;
  bottom: -0.5px;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: #FFFFFF;
}
.buscar .frame-364 {
  border-radius: 6px;
  background: #631CD0;
  position: relative;
  margin-top: 1px;
  width: 56px;
  height: 15px;
}
.buscar .frame-46 {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.buscar .upvotes-de-a {
  margin-right: 10.5px;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.buscar .line-4 {
  background: #9F9F9F;
  margin: 13px 0 2px 0;
  width: 29px;
  height: 0px;
}
.buscar .container-11 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.buscar .line-3 {
  background: #9F9F9F;
  position: absolute;
  right: 56px;
  bottom: 2px;
  width: 29px;
  height: 0px;
}
.buscar .frame-47 {
  position: relative;
  margin-bottom: 12px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.buscar .nivel-de-reputacion-de-a {
  margin-right: 10.2px;
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.buscar .line-41 {
  background: #9F9F9F;
  margin: 13px 0 2px 0;
  width: 29px;
  height: 0px;
}
.buscar .container {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.buscar .line-31 {
  background: #9F9F9F;
  position: absolute;
  right: 56px;
  bottom: 2px;
  width: 29px;
  height: 0px;
}
.buscar .frame-49 {
  position: relative;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.buscar .frame-32 {
  box-shadow: 0px 4px 11.6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  background: #FFFFFF;
  position: absolute;
  left: 17px;
  top: 176px;
  right: 16px;
  display: flex;
  flex-direction: column;
  padding: 40px 0 12px 11px;
  box-sizing: border-box;
}
.buscar .rectangle-29 {
  box-shadow: 0px 4px 8.2px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 13px;
  right: 0px;
  height: 168px;
}
.buscar .vector {
  width: 15px;
  height: 15px;
}
.buscar .icon-search-1 {
  margin: 0.5px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.buscar .try-searching-topics-likecrypto {
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.buscar .form-default {
  box-shadow: var(--elevation-20, 0px 3px 6px 0px rgba(110, 116, 134, 0.24));
  border-radius: 8px;
  border: 1px solid #DFE7EF;
  background: #FFFFFF;
  position: absolute;
  left: 16px;
  top: 161px;
  right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 0 13px 13.5px;
  box-sizing: border-box;
}
.buscar .hola-usuario {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 26px;
  line-height: 0.769;
  color: #000000;
}
.buscar .pregunta-yresuelve-tus-problemas-oayuda-aotros-ysubiras-de-rango {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429;
  color: #000000;
}
.buscar .header {
  border-radius: 5px;
  position: absolute;
  left: 16px;
  top: 73px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.buscar .vector-2 {
  width: 30.8px;
  height: 18px;
}
.buscar .icon-list {
  margin: 13px 0 9px 0;
  display: flex;
  width: 41px;
  height: 36px;
  box-sizing: border-box;
}
.buscar .buscar-1 {
  margin: 6px 0 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Jersey 10', 'Roboto Condensed';
  font-weight: 400;
  font-size: 39px;
  line-height: 0.41;
  background: linear-gradient(180deg, #F7F1FF 0%, #A9A9AA 159.4%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.buscar .photo-by-roman-kokoev {
  border-radius: 50px;
  border: 1px solid #4302A5;
  background: url('../assets/images/photo_by_roman_kokoev.png') 50% / cover no-repeat;
  width: 40px;
  height: 40px;
}
.buscar .container-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.buscar .vector-1 {
  width: 73.5px;
  height: 73.5px;
}
.buscar .icon-search {
  position: absolute;
  left: 131.1px;
  bottom: 0px;
  display: flex;
  width: 98px;
  height: 98px;
  box-sizing: border-box;
}
.buscar .container-12 {
  position: absolute;
  left: 18.1px;
  right: 12px;
  bottom: -9.8px;
  padding: 14.8px 0 18.8px 0;
  box-sizing: border-box;
}
.buscar .navigation {
  border-radius: 11px;
  background: url('../assets/images/image_3.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: -13px;
  right: 0px;
  height: 69px;
}
.buscar {
  background: #EFEFEF;
  padding: 231px 28px 20px 28px;
  box-sizing: border-box;
}
