.edition-post .vector {
  width: 30.8px;
  height: 18px;
}
.edition-post .icon-list {
  margin: 11px 34.9px 11px 0;
  display: flex;
  width: 41px;
  height: 36px;
  box-sizing: border-box;
}
.edition-post .my-post {
  margin: 12.5px 31.8px 11.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Jersey 10', 'Roboto Condensed';
  font-weight: 400;
  font-size: 39px;
  line-height: 0.41;
  background: linear-gradient(0deg, #999999 13.92%, #FFFFFF 57.48%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.edition-post .photo-by-roman-kokoev {
  border-radius: 50px;
  border: 1px solid #4302A5;
  background: url('../assets/images/photo_by_roman_kokoev.png') 50% / cover no-repeat;
  height: 40px;
  flex-grow: 1;
  flex-basis: 40px;
}
.edition-post .container-4 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.edition-post .rectangle-38 {
  background: #42069D;
  position: absolute;
  left: -1px;
  top: -21px;
  width: 102px;
  height: 10px;
}
.edition-post .rectangle-39 {
  background: #42069D;
  width: 102px;
  height: 34px;
}
.edition-post .frame-67 {
  position: absolute;
  left: 116.9px;
  bottom: 0px;
  display: flex;
  width: 102px;
  height: 55px;
  box-sizing: border-box;
}
.edition-post .container {
  position: absolute;
  left: 18.1px;
  right: 12px;
  bottom: -1px;
  display: flex;
  padding-bottom: 8px;
  box-sizing: border-box;
}
.edition-post .navigation {
  border-radius: 11px;
  background: url('../assets/images/image_3.png') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 51px;
  width: 375px;
  height: 69px;
}
.edition-post .rectangle-32 {
  mix-blend-mode: darken;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #D9D9D9;
  position: absolute;
  left: 3.4px;
  right: 0px;
  bottom: 0px;
  height: 55px;
}
.edition-post .my-problem {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Jersey 10', 'Roboto Condensed';
  font-weight: 400;
  font-size: 39px;
  line-height: 0.41;
  color: #000000;
}
.edition-post .line-5 {
  background: #000000;
  position: absolute;
  right: 6px;
  bottom: 14.9px;
  width: 23.1px;
  height: 0px;
}
.edition-post .my-problem-1 {
  position: relative;
  margin-right: 22px;
  display: flex;
  padding: 19.5px 9.6px 19.5px 0;
  flex-grow: 1;
  flex-basis: 190.4px;
  box-sizing: border-box;
}
.edition-post .icon-1 {
  width: 30.2px;
  height: 30.2px;
}
.edition-post .edit {
  margin-right: 21.6px;
  display: flex;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
}
.edition-post .container {
  transform: rotate(179.972deg);
  margin: 4.7px 0 9.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Jersey 10', 'Roboto Condensed';
  font-weight: 400;
  font-size: 39px;
  line-height: 0.41;
  color: #000000;
}
.edition-post .container-1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.edition-post .icon {
  width: 18.7px;
  height: 21px;
}
.edition-post .delete {
  margin: 4.7px 0 4.5px 0;
  display: flex;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
}
.edition-post .pack-ed-pest-delet {
  margin: 12.8px 0 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  flex-grow: 1;
  flex-basis: 116.3px;
  box-sizing: border-box;
}
.edition-post .container-2 {
  margin: 0 10.7px 33px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 10.7px);
  box-sizing: border-box;
}
.edition-post .context {
  margin: 0 8px 53.6px 0;
  display: inline-block;
  width: 307px;
  overflow-wrap: break-word;
  font-family: 'Jersey 10', 'Roboto Condensed';
  font-weight: 400;
  font-size: 39px;
  line-height: 0.41;
  color: #000000;
}
.edition-post .icon-2 {
  width: 14.3px;
  height: 14.3px;
}
.edition-post .edit-1 {
  margin-top: 55.4px;
  display: flex;
  width: 19px;
  height: 19px;
  box-sizing: border-box;
}
.edition-post .container-3 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #D9D9D9;
  position: relative;
  margin: 0 2px 219.4px 5.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 62px 8.4px 8.4px 0;
  width: calc(100% - 7.4px);
  box-sizing: border-box;
}
.edition-post .icon-3 {
  width: 14.3px;
  height: 14.3px;
}
.edition-post .edit-2 {
  margin: 0 10.4px 14.4px 10.4px;
  display: flex;
  width: 19px;
  height: 19px;
  box-sizing: border-box;
}
.edition-post .icon-4 {
  width: 14.3px;
  height: 14.3px;
}
.edition-post .edit-3 {
  display: flex;
  width: 19px;
  height: 19px;
  box-sizing: border-box;
}
.edition-post .container-6 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #D9D9D9;
  position: relative;
  margin-left: 7.4px;
  display: flex;
  padding: 123.4px 10.4px 2.4px 10.4px;
  width: calc(100% - 7.4px);
  height: 140px;
  box-sizing: border-box;
}
.edition-post .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.edition-post .captura-de-pantalla-202311230019071 {
  background: url('../assets/images/captura_de_pantalla_202311230019071.png');
  position: absolute;
  right: -6px;
  bottom: 171px;
  width: 345px;
  height: 186px;
}
.edition-post .sructure-edition {
  position: relative;
  margin: 0 15px 9px 20.6px;
  width: calc(100% - 35.6px);
  box-sizing: border-box;
}
.edition-post .rectangle-321 {
  mix-blend-mode: darken;
  background: #D9D9D9;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 218px;
  height: 55px;
}
.edition-post .comentarios-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Jersey 10', 'Roboto Condensed';
  font-weight: 400;
  font-size: 39px;
  line-height: 0.41;
  color: #000000;
}
.edition-post .comentarios {
  position: relative;
  margin: 0 12.7px;
  align-self: flex-start;
  padding: 19.5px 0;
  width: fit-content;
  box-sizing: border-box;
}
.edition-post {
  background: #EFEFEF;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
