.home .hola-usuario {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 26px;
  line-height: 0.769;
  color: #000000;
}
.home .pregunta-yresuelve-tus-problemas-oayuda-aotros-ysubiras-de-rango {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.429;
  color: #000000;
}
.home .header {
  border-radius: 7px;
  margin-bottom: 37px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 73px 0 35px 16px;
  width: fit-content;
  box-sizing: border-box;
}
.home .lenguajes-de-programacin {
  margin: 0 16px 8px 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--type-16-bold-font-family, 'Inter');
  font-weight: var(--type-16-bold-font-weight, 700);
  font-size: var(--type-16-bold-font-size, 16px);
  line-height: var(--type-16-bold-line-height, 1.5);
  color: var(--monomono-100, #24292E);
}
.home .vector {
  background: #FFD600;
  width: 60.1px;
  height: 57.3px;
}
.home .vector-1 {
  position: relative;
  width: 37.8px;
  height: 25.5px;
}
.home .container {
  border-radius: 12px;
  border: 3px solid #FFFFFF;
  position: relative;
  margin: 0 17.8px 11px 18.8px;
  display: flex;
  padding: 24.3px 5.6px 5.2px 14.5px;
  width: 64px;
  height: 61px;
  box-sizing: border-box;
}
.home .javascript {
  margin: 0 8.7px 4px 9.7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--type-16-bold-font-family, 'Inter');
  font-weight: var(--type-16-bold-font-weight, 700);
  font-size: var(--type-16-bold-font-size, 16px);
  line-height: var(--type-16-bold-line-height, 1.5);
  color: var(--monomono-100, #24292E);
}
.home .preguntas {
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.preguntas-sub3 {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-size: 11px;
  line-height: 1.333;
}
.home .frame-27 {
  display: flex;
  box-sizing: border-box;
}
.home .container-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.home .xfkvzn-30-cgl-spb-3-o-1 {
  background: url('../assets/images/xfkvzn_30_cgl_spb_3_o_1.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: -18px;
  right: 0px;
  height: 117px;
}
.home .frame-14 {
  box-shadow: var(--elevation-20, 0px 3px 6px 0px rgba(110, 116, 134, 0.24));
  border-radius: 8px;
  background: var(--monomono-00, #FFFFFF);
  position: relative;
  margin-right: 12px;
  display: flex;
  padding: 68px 1px 16px 0;
  flex-grow: 1;
  flex-basis: 160px;
  box-sizing: border-box;
}
.home .clip-path-group-1 {
  width: 44.4px;
  height: 41.7px;
}
.home .clip-path-group {
  position: relative;
  display: flex;
  width: 44.5px;
  height: 41.7px;
  box-sizing: border-box;
}
.home .clip-path-group-3 {
  width: 44.4px;
  height: 41.7px;
}
.home .clip-path-group-2 {
  position: absolute;
  right: 2px;
  bottom: 2.1px;
  display: flex;
  width: 44.4px;
  height: 41.8px;
  box-sizing: border-box;
}
.home .container-1 {
  border-radius: 7px;
  border: 3px solid #FFFEFE;
  background: #FFFFFF;
  position: relative;
  margin: 0 14.9px 10px 14.9px;
  display: flex;
  padding: 0 14.5px 13.2px 0;
  width: 64px;
  height: 60px;
  box-sizing: border-box;
}
.home .python {
  margin: 0 19px 5px 19px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--type-16-bold-font-family, 'Inter');
  font-weight: var(--type-16-bold-font-weight, 700);
  font-size: var(--type-16-bold-font-size, 16px);
  line-height: var(--type-16-bold-line-height, 1.5);
  color: var(--monomono-100, #24292E);
}
.home .preguntas-1 {
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.preguntas-1-sub3 {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-size: 11px;
  line-height: 1.333;
}
.home .frame-271 {
  display: flex;
  box-sizing: border-box;
}
.home .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.home .python-coding-beginner-hero-1 {
  background: url('../assets/images/python_coding_beginner_hero_1.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -29px;
  top: -5px;
  width: 208px;
  height: 104px;
}
.home .frame-15 {
  box-shadow: var(--elevation-20, 0px 3px 6px 0px rgba(110, 116, 134, 0.24));
  border-radius: 8px;
  background: var(--monomono-00, #FFFFFF);
  position: relative;
  margin-right: 12px;
  display: flex;
  padding: 69px 0 16px 0;
  flex-grow: 1;
  flex-basis: 160px;
  box-sizing: border-box;
}
.home .rectangle-28 {
  background: url('../assets/images/rectangle_283.png') 50% / cover no-repeat;
  margin-bottom: 44px;
  width: 160px;
  height: 100px;
}
.home .zeit {
  overflow-wrap: break-word;
  font-family: var(--type-16-bold-font-family, 'Inter');
  font-weight: var(--type-16-bold-font-weight, 700);
  font-size: var(--type-16-bold-font-size, 16px);
  line-height: var(--type-16-bold-line-height, 1.5);
  color: var(--monomono-100, #24292E);
}
.home .vector-8 {
  width: 8px;
  height: 9px;
}
.home .icon-user {
  margin: 3.5px 6.2px 3.5px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.home .members {
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.home .frame-272 {
  margin-left: 2.8px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.home .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.home .rectangle-281 {
  border-radius: 8px;
  border: 4px solid var(--monomono-00, #FFFFFF);
  background: url('../assets/images/rectangle_285.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 64px;
  height: 64px;
}
.home .frame-141 {
  box-shadow: var(--elevation-20, 0px 3px 6px 0px rgba(110, 116, 134, 0.24));
  border-radius: 8px;
  background: var(--monomono-00, #FFFFFF);
  position: relative;
  display: flex;
  padding-bottom: 16px;
  flex-grow: 1;
  flex-basis: 160px;
  box-sizing: border-box;
}
.home .frame-28 {
  margin: 0 2px 24px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 18px);
  box-sizing: border-box;
}
.home .topicos-sciencia-de-la-computacion {
  margin: 0 16px 8px 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--type-16-bold-font-family, 'Inter');
  font-weight: var(--type-16-bold-font-weight, 700);
  font-size: var(--type-16-bold-font-size, 16px);
  line-height: var(--type-16-bold-line-height, 1.5);
  color: var(--monomono-100, #24292E);
}
.home .flat-750-x-075-f-pad-750-x-1000-f-8-f-8-f-81 {
  background: url('../assets/images/flat_750_x_075_f_pad_750_x_1000_f_8_f_8_f_81.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: -59px;
  right: 0px;
  bottom: -48px;
  height: 100%;
}
.home .frame-29 {
  position: relative;
  margin-bottom: 44px;
  width: 160px;
  height: 100px;
}
.home .estructura-de-datos {
  margin: 0 2.9px 5px 2.9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--type-16-bold-font-family, 'Inter');
  font-weight: var(--type-16-bold-font-weight, 700);
  font-size: var(--type-16-bold-font-size, 16px);
  line-height: var(--type-16-bold-line-height, 1.5);
  color: var(--monomono-100, #24292E);
}
.home .preguntas-2 {
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.preguntas-2-sub3 {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-size: 11px;
  line-height: 1.333;
}
.home .frame-282 {
  margin-right: 1px;
  display: flex;
  box-sizing: border-box;
}
.home .container-11 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.home .types-of-binary-trees-1 {
  background: url('../assets/images/types_of_binary_trees_1.png') 50% / cover no-repeat;
  position: absolute;
  left: -17px;
  top: -6px;
  width: 88px;
  height: 68px;
}
.home .frame-30 {
  border-radius: 7px;
  border: 3px solid #FFF2F2;
  position: relative;
  width: 64px;
  height: 64px;
}
.home .container-7 {
  border-radius: 8px;
  border: 4px solid #FFFFFF;
  background: url('../assets/images/rectangle_28.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  display: flex;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
}
.home .frame-142 {
  box-shadow: var(--elevation-20, 0px 3px 6px 0px rgba(110, 116, 134, 0.24));
  border-radius: 8px;
  background: var(--monomono-00, #FFFFFF);
  position: relative;
  margin-right: 12px;
  display: flex;
  padding-bottom: 11px;
  flex-grow: 1;
  flex-basis: 160px;
  box-sizing: border-box;
}
.home .red-neuronal-1 {
  background: url('../assets/images/red_neuronal_1.png') 50% / cover no-repeat;
  position: absolute;
  right: -7px;
  bottom: -8px;
  width: 174px;
  height: 116px;
}
.home .frame-291 {
  background: url('../assets/images/flat_750_x_075_f_pad_750_x_1000_f_8_f_8_f_81.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 32px;
  width: 160px;
  height: 100px;
}
.home .inteligencia-artificial {
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--type-16-bold-font-family, 'Inter');
  font-weight: var(--type-16-bold-font-weight, 700);
  font-size: var(--type-16-bold-font-size, 16px);
  line-height: var(--type-16-bold-line-height, 1.5);
  color: var(--monomono-100, #24292E);
}
.home .container-10 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.home .icons-card-ai-1 {
  background: url('../assets/images/icons_card_ai_1.png') 50% / cover no-repeat;
  position: absolute;
  right: -19px;
  bottom: -21px;
  width: 102px;
  height: 102px;
}
.home .frame-301 {
  border-radius: 7px;
  border: 3px solid #FFF2F2;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 64px;
  height: 64px;
}
.preguntas-3-sub3 {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-size: 11px;
  line-height: 1.333;
}
.home .preguntas-3 {
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.home .frame-31 {
  position: absolute;
  left: 50%;
  bottom: 10px;
  translate: -50% 0;
  display: flex;
  box-sizing: border-box;
}
.home .frame-151 {
  box-shadow: var(--elevation-20, 0px 3px 6px 0px rgba(110, 116, 134, 0.24));
  border-radius: 8px;
  background: var(--monomono-00, #FFFFFF);
  position: relative;
  margin-right: 12px;
  display: flex;
  padding-bottom: 20px;
  flex-grow: 1;
  flex-basis: 160px;
  box-sizing: border-box;
}
.home .rectangle-283 {
  background: url('../assets/images/rectangle_281.png') 50% / cover no-repeat;
  margin-bottom: 44px;
  width: 160px;
  height: 100px;
}
.home .zeit-1 {
  overflow-wrap: break-word;
  font-family: var(--type-16-bold-font-family, 'Inter');
  font-weight: var(--type-16-bold-font-weight, 700);
  font-size: var(--type-16-bold-font-size, 16px);
  line-height: var(--type-16-bold-line-height, 1.5);
  color: var(--monomono-100, #24292E);
}
.home .vector-9 {
  width: 8px;
  height: 9px;
}
.home .icon-user-1 {
  margin: 3.5px 6.2px 3.5px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.home .members-1 {
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.home .frame-273 {
  margin-left: 2.8px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.home .container-9 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.home .rectangle-284 {
  border-radius: 8px;
  border: 4px solid var(--monomono-00, #FFFFFF);
  background: url('../assets/images/rectangle_285.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 64px;
  height: 64px;
}
.home .frame-143 {
  box-shadow: var(--elevation-20, 0px 3px 6px 0px rgba(110, 116, 134, 0.24));
  border-radius: 8px;
  background: var(--monomono-00, #FFFFFF);
  position: relative;
  display: flex;
  padding-bottom: 16px;
  flex-grow: 1;
  flex-basis: 160px;
  box-sizing: border-box;
}
.home .frame-281 {
  margin: 0 0 20px 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 18px);
  box-sizing: border-box;
}
.home .editores-de-codigo {
  margin: 0 16px 6.5px 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--type-16-bold-font-family, 'Inter');
  font-weight: var(--type-16-bold-font-weight, 700);
  font-size: var(--type-16-bold-font-size, 16px);
  line-height: var(--type-16-bold-line-height, 1.5);
  color: var(--monomono-100, #24292E);
}
.home .rectangle-285 {
  background: url('../assets/images/rectangle_284.png') 50% / cover no-repeat;
  margin-bottom: 44px;
  width: 160px;
  height: 100px;
}
.home .figma {
  overflow-wrap: break-word;
  font-family: var(--type-16-bold-font-family, 'Inter');
  font-weight: var(--type-16-bold-font-weight, 700);
  font-size: var(--type-16-bold-font-size, 16px);
  line-height: var(--type-16-bold-line-height, 1.5);
  color: var(--monomono-100, #24292E);
}
.home .vector-10 {
  width: 8px;
  height: 9px;
}
.home .icon-user-2 {
  margin: 3.5px 6.3px 3.5px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.home .members-2 {
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.home .frame-274 {
  margin-left: 4.7px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.home .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.home .rectangle-286 {
  border-radius: 8px;
  border: 4px solid var(--monomono-00, #FFFFFF);
  background: url('../assets/images/rectangle_286.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 64px;
  height: 64px;
}
.home .frame-144 {
  box-shadow: var(--elevation-20, 0px 3px 6px 0px rgba(110, 116, 134, 0.24));
  border-radius: 8px;
  background: var(--monomono-00, #FFFFFF);
  position: relative;
  margin-right: 12px;
  display: flex;
  padding-bottom: 16px;
  flex-grow: 1;
  flex-basis: 160px;
  box-sizing: border-box;
}
.home .rectangle-287 {
  background: url('../assets/images/rectangle_282.png') 50% / cover no-repeat;
  margin-bottom: 44px;
  width: 160px;
  height: 100px;
}
.home .spec-fm {
  overflow-wrap: break-word;
  font-family: var(--type-16-bold-font-family, 'Inter');
  font-weight: var(--type-16-bold-font-weight, 700);
  font-size: var(--type-16-bold-font-size, 16px);
  line-height: var(--type-16-bold-line-height, 1.5);
  color: var(--monomono-100, #24292E);
}
.home .vector-11 {
  width: 8px;
  height: 9px;
}
.home .icon-user-3 {
  margin: 3.5px 6.5px 3.5px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.home .members-3 {
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.home .frame-275 {
  margin-right: 3.5px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.home .container-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.home .rectangle-288 {
  border-radius: 8px;
  border: 4px solid var(--monomono-00, #FFFFFF);
  background: url('../assets/images/rectangle_287.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 64px;
  height: 64px;
}
.home .frame-145 {
  box-shadow: var(--elevation-20, 0px 3px 6px 0px rgba(110, 116, 134, 0.24));
  border-radius: 8px;
  background: var(--monomono-00, #FFFFFF);
  position: relative;
  margin-right: 12px;
  display: flex;
  padding-bottom: 16px;
  flex-grow: 1;
  flex-basis: 160px;
  box-sizing: border-box;
}
.home .rectangle-289 {
  background: url('../assets/images/rectangle_283.png') 50% / cover no-repeat;
  margin-bottom: 44px;
  width: 160px;
  height: 100px;
}
.home .zeit-2 {
  overflow-wrap: break-word;
  font-family: var(--type-16-bold-font-family, 'Inter');
  font-weight: var(--type-16-bold-font-weight, 700);
  font-size: var(--type-16-bold-font-size, 16px);
  line-height: var(--type-16-bold-line-height, 1.5);
  color: var(--monomono-100, #24292E);
}
.home .vector-12 {
  width: 8px;
  height: 9px;
}
.home .icon-user-4 {
  margin: 3.5px 6.2px 3.5px 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.home .members-4 {
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.home .frame-276 {
  margin-left: 2.8px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.home .container-8 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.home .rectangle-2810 {
  border-radius: 8px;
  border: 4px solid var(--monomono-00, #FFFFFF);
  background: url('../assets/images/rectangle_285.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 64px;
  height: 64px;
}
.home .frame-146 {
  box-shadow: var(--elevation-20, 0px 3px 6px 0px rgba(110, 116, 134, 0.24));
  border-radius: 8px;
  background: var(--monomono-00, #FFFFFF);
  position: relative;
  display: flex;
  padding-bottom: 16px;
  flex-grow: 1;
  flex-basis: 160px;
  box-sizing: border-box;
}
.home .frame-283 {
  margin: 0 2px 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 18px);
  box-sizing: border-box;
}
.home .container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 522px;
  height: fit-content;
  box-sizing: border-box;
}
.home .rectangle-29 {
  box-shadow: 0px 4px 8.2px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 40px;
  right: 0px;
  height: 141px;
}
.home .icon-home {
  position: absolute;
  left: 115.9px;
  top: 0px;
  width: 103px;
  height: 103px;
}
.home .vector-6 {
  width: 30.8px;
  height: 18px;
}
.home .icon-list {
  position: relative;
  margin: 13px 0 9px 0;
  display: flex;
  width: 41px;
  height: 36px;
  box-sizing: border-box;
}
.home .home-1 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  margin: 5.3px 0 2.8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Jersey 10', 'Roboto Condensed';
  font-weight: 400;
  font-size: 39px;
  line-height: 0.41;
  background: linear-gradient(180deg, #FFFFFF 31.9%, #999999 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.home .photo-by-roman-kokoev {
  border-radius: 50px;
  border: 1px solid #4302A5;
  background: url('../assets/images/photo_by_roman_kokoev.png') 50% / cover no-repeat;
  position: relative;
  width: 40px;
  height: 40px;
}
.home .container-2 {
  position: absolute;
  left: 18.1px;
  right: 12px;
  bottom: -20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 34px 0 29px 0;
  box-sizing: border-box;
}
.home .navigation {
  border-radius: 11px;
  background: url('../assets/images/image_3.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: -11px;
  right: 0px;
  height: 69px;
}
.home .vector-13 {
  width: 15px;
  height: 15px;
}
.home .icon-search {
  margin: 0.5px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.home .try-searching-topics-likecrypto {
  overflow-wrap: break-word;
  font-family: var(--type-11-regular-font-family, 'Inter');
  font-weight: var(--type-11-regular-font-weight, 400);
  font-size: var(--type-11-regular-font-size, 11px);
  line-height: var(--type-11-regular-line-height, 1.455);
  color: var(--monomono-50, #67717A);
}
.home .form-default {
  box-shadow: var(--elevation-20, 0px 3px 6px 0px rgba(110, 116, 134, 0.24));
  border-radius: 8px;
  border: 1px solid var(--bgbg-100, #DFE7EF);
  background: #FFFFFF;
  position: absolute;
  left: 16px;
  top: 160px;
  right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 0 13px 13.5px;
  box-sizing: border-box;
}
.home {
  background: #EFEFEF;
  display: flex;
  box-sizing: border-box;
}
