.pregunta .vector {
  width: 30.8px;
  height: 18px;
}
.pregunta .icon-list {
  margin: 11px 0;
  display: flex;
  width: 41px;
  height: 36px;
  box-sizing: border-box;
}
.pregunta .container {
  margin: 11px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-size: 115px;
  line-height: 0.139;
  color: #42069D;
}
.pregunta .photo-by-roman-kokoev {
  border-radius: 50px;
  border: 1px solid #4302A5;
  background: url('../assets/images/photo_by_roman_kokoev.png') 50% / cover no-repeat;
  width: 40px;
  height: 40px;
}
.pregunta .container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.pregunta .crear-post {
  position: absolute;
  left: 50%;
  bottom: 20px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Jersey 10', 'Roboto Condensed';
  font-weight: 400;
  font-size: 39px;
  line-height: 0.41;
  background: linear-gradient(180deg, #FFFFFF 29.4%, #C9C9C9 73.95%, #A9A9AA 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.pregunta .navigation {
  border-radius: 11px;
  background: url('../assets/images/image_3.png') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 15px;
  padding: 22px 12px 7px 18.1px;
  width: 100%;
  box-sizing: border-box;
}
.pregunta .title {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
}
.pregunta .escribe-tu-titulo-aqui {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 11px;
  line-height: 1.818;
  color: #67717A;
}
.pregunta .frame-51 {
  border-radius: 7px;
  border: 1px solid #DFDFDF;
  background: #F1F1F1;
  padding: 2px 8px 4px 8px;
  width: 100%;
  box-sizing: border-box;
}
.pregunta .frame-52 {
  border-radius: 7px;
  border: 1px solid #DFDFDF;
  background: #FFFFFF;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 8px 14px 8px 12px;
  width: 100%;
  box-sizing: border-box;
}
.pregunta .descripcin {
  margin-bottom: 18px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
}
.pregunta .escribe-la-descripcin-aqui {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 11px;
  line-height: 1.818;
  color: #67717A;
}
.pregunta .frame-511 {
  border-radius: 7px;
  border: 1px solid #DFDFDF;
  background: #F1F1F1;
  padding: 2px 9px 97px 9px;
  width: 100%;
  box-sizing: border-box;
}
.pregunta .frame-53 {
  border-radius: 7px;
  border: 1px solid #DFDFDF;
  background: #FFFFFF;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 8px 14px 8px 12px;
  width: 100%;
  box-sizing: border-box;
}
.pregunta .tags {
  margin-bottom: 18px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
}
.pregunta .que-tag-quieres-aadir {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 11px;
  line-height: 1.818;
  color: #67717A;
}
.pregunta .frame-512 {
  border-radius: 7px;
  border: 1px solid #DFDFDF;
  background: #F1F1F1;
  padding: 2px 9px 1px 9px;
  width: 100%;
  box-sizing: border-box;
}
.pregunta .frame-54 {
  border-radius: 7px;
  border: 1px solid #DFDFDF;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 8px 14px 8px 12px;
  width: 100%;
  box-sizing: border-box;
}
.pregunta .frame-50 {
  margin: 0 13px 280px 13px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 26px);
  box-sizing: border-box;
}
.pregunta .cancelar {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 17px;
  line-height: 0.941;
  color: #FFFFFF;
}
.pregunta .frame-513 {
  border-radius: 6px;
  background: #631CD0;
  display: flex;
  padding: 10px 8.4px;
  box-sizing: border-box;
}
.pregunta .publicar {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 17px;
  line-height: 0.941;
  color: #FFFFFF;
}
.pregunta .frame-37 {
  border-radius: 6px;
  background: #631CD0;
  display: flex;
  padding: 10px 11.7px;
  box-sizing: border-box;
}
.pregunta .container-1 {
  margin: 0 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 26px);
  box-sizing: border-box;
}
.pregunta {
  background: #EFEFEF;
  display: flex;
  flex-direction: column;
  padding-bottom: 22px;
  box-sizing: border-box;
}
